:root{
  --greenPrimary: #007D3C;
}

body::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

header,
footer {
  font-family: 'Nokora', sans-serif;
}

#sobre-nosotros {
  font-family: 'Gabriela', serif;
  font-weight: bold;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gabriela', serif;
}

.navbar,
.footer {
  background-color: var(--greenPrimary);
  /* Color de fondo */
}

footer {
  background-color: var(--greenPrimary);
  /* Color de fondo */
}

a {
  color: white !important;
}

/* Para el hover también */
a:hover {
  color: gray;
}

.icono{
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.logo-agroMx{
  justify-content: center;
  width: 80px;
  height: 80px;
}

.navbar-nav .nav-item {
  padding-left: 20px; 
  padding-right: 20px; 
  font-size: 20px;
}

.navbar-brand{
  margin-left: 20px;
  font-size: 20px;
}

.cart{
  font-size: 50px;
  transition: transform 0.2s ease-in-out;
}

.cart:hover{
  transform: skewX(-10deg) scale(1.1);
}

.greenLine{
  background-color: var(--greenPrimary);
  height: 1.5rem;
}