.form-control{
    width: 800px;
    display: flex;
}



.d-flex {
    justify-content: center; /* Centra el formulario en la página */
    width: 100%; /* Asegura que ocupe el ancho completo de la página */
    margin-right: 15%;
    padding-right: 15%;
  }

header, footer {
    font-family: 'Nokora', sans-serif;
  }

  #sobre-nosotros{
    font-family: 'Gabriela', serif;
    font-weight: bold;

  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Gabriela', serif;
  }

  .navbar, .footer {
    background-color: #007D3C; /* Color de fondo */
  }

  a {
    color: white !important;
  }

  /* Para el hover también */
  a:hover {
    color: gray;
  }