<<<<<<< HEAD
.form-control{
    width: 800px;
    display: flex;
}

*{background-color: blue;};

=======
.d-flex {
    justify-content: center; /* Centra el formulario en la página */
    width: 100%; /* Asegura que ocupe el ancho completo de la página */
    margin-right: 15%;
    padding-right: 15%;
  }

header, footer {
    font-family: 'Nokora', sans-serif;
  }

  #sobre-nosotros{
    font-family: 'Gabriela', serif;
    font-weight: bold;

  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Gabriela', serif;
  }
>>>>>>> f394d444d0ecd7c13c1101c8200e41707a04dd31
